//
//  App-Target.xcconfig
//  Moody
//
//  Created by Daniel Eggert on 06/09/2015.
//  Copyright © 2015 objc.io. All rights reserved.
//




// Build Options
//
EMBEDDED_CONTENT_CONTAINS_SWIFT = YES



// Code Signing
//
CODE_SIGN_ENTITLEMENTS = Moody/Moody.entitlements
PROVISIONING_PROFILE = d23a3ddd-8845-4d58-982c-b9633e7478b7



// Linking
//
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks



// Packaging
//
INFOPLIST_FILE = Config/App-Info.plist



// Asset Catalog Compiler
//
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
